
.content-region {
  position: relative;
  top: 45px;
}

footer.row {
  margin-top: 40px;
}

#toc li a {
  font-size: rem-calc(16);
}

.logo {
  padding: 10px 0 30px 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.addresses-app {
  margin-bottom: 100px;
}

.addresses-form {
  margin-bottom: 40px;

  input, button {
    height: 3.2rem;
    font-size: 1.3rem;
  }
}

footer {
  margin-top: 100px;
}

.project-link {
  font-size: 0.65em;
}